
    <td class="my-pointer">
        <span class="my-font glyphicon glyphicon-unchecked" aria-hidden="true" onclick="doneToggle()"></span>
        <span class="my-status-done-true my-font glyphicon glyphicon-check" aria-hidden="true" onclick="doneToggle()"></span>
    </td>

    <td id="list-title-<%= list.id %>">
      <small>
          <%= list.title %>
      </small>

    </td>

    <td class="my-operation">
      <%= link_to  edit_list_path(list), :remote => true do %>
        <button type="button" class="my-btn my-btn-transparent text-info glyphicon glyphicon-pencil" onclick="editToggle()"></button>
      <% end %>
        <button type="button" class="my-btn my-btn-transparent text-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#my-alert" onclick="deleteCheck()"></button>
    </td>
